.flex {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-item {
  flex: 1;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-box {
  background-color: var(--box-bg-color);
  transition: background-color .2s;
  box-shadow: var(--shadow-border);
  border-radius: 12px;
}
