/// @name theme

@mixin css-var(
  $brand-color,
  $border-color,
  $bg-color
) {
  #{--brand-color}: $brand-color;
  #{--border-color}: $border-color;
  #{--bg-color}: $bg-color;
}

@mixin appLightTheme() {
  @include css-var(
          $brand-color: #6485ff,
          $border-color: var(--el-border-color),
          $bg-color: var(--el-bg-color),
  )
}

@mixin appDarkTheme() {
  @include css-var(
          $brand-color: #6485ff,
          $border-color: var(--el-border-color),
          $bg-color: var(--el-bg-color),

  )
}
