// color
$brand-color: var(--brand-color);
$bg-color: var(--bg-color);

// width
$body-width: 1440px;

// header
$navbar-height: 55px;

// z-index
$z-index-header: 10;


// padding
$navbar-padding: 0 12px 0 32px;

// margin
$navbar-item-margin: 10px;

// border
$border-color: var(--border-color);

